<div class="bg-grey-lighter py-28 flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">

      <div class="mb-4">
        <input id="name" placeholder="Full Name" formControlName="name" type="text" name="email" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
      </div>

      <div class="mb-4">
        <input id="email" placeholder="Email Address" formControlName="email" type="text" name="email" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
      </div>

      <div class="mb-4">
        <input id="phone" placeholder="Phone Number" formControlName="phone" type="text" name="phone" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
      </div>

      <div class="mb-4">
        <input id="password" placeholder="Password" formControlName="password" type="password" name="password" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
      </div>

      <div class="mb-4">
        <input id="password" placeholder="Confirm Password" formControlName="confirmPassword" type="password" name="password" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
      </div>

      <p class="text-red-600">
        {{messageError}}
      </p>


      <div class="mt-6">
        <button class="bg-indigo-600 w-full inline-flex items-center justify-center px-4 py-2 bg-slate-500 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-slate-700  focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Create !</button>
      </div>
      <div class="mt-6 text-center">
        <a >Have Already Account! </a>
        <a routerLink="/login" class="text-blue-600 underline">Login</a>
      </div>
    </form>
  </div>
</div>