  /* Ensure the table has shadow */
  table {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .bg-green-100 {
    background-color: #d1fae5 !important;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  input, select {
    padding: 0.5rem;
  }

  .hover\:bg-blue-700:hover {
    background-color: #1e40af;
  }

  .hover\:bg-blue-500:hover {
    background-color: #3b82f6;
  }

  .hover\:text-white:hover {
    color: #fff;
  }